.container {
    height: 60vh;
    margin-top: 50px;
    background-color: rgba(170, 170, 170, 0.473);
}

.container-cropper {
    height: 50vh;
}

.container-button {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.cropper {
    height: 90%;
    position: relative;
    padding: 10px;
}

.slider {
    height: 10%;
    width: 60%;
    display: flex;
    margin: auto;
}