@import "./variable.scss";

.header {
  display: flex;
  justify-content: space-between;
  background-color: $darkgreen;
  padding: 1em;
  width: 100%;
}

.header-links {
  display: flex;

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin: 10px;
    @include fontStyle(1.3em);
  }

  button {
    @include buttonStyle();
  }

  button:hover {
    color: $ligthbrown;
    background-color: white;
  }
}

.header-links__link {
  color: $with;
}

.header-links__link:hover {
  color: $ligthbrown;
}

.logo h2 {
  color: $with;
  @include fontStyle(1.7em);
}
