@import "./variable.scss";

.postParent {
  width: 100%;
  height: 100vh;
//   background-color: orange;
}

.postContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.postDetails {
//   background-color: orangered;
  border: 1px solid $withsmoke;
  border-radius: 0.5em;
  width: 80%;
  height: 100%;
  padding: 1em;

  h2 {
    @include fontStyle(2em);
    margin: 10px;
  }

  p {
    @include fontStyleForParagraph(1.5em);
    // background-color: orchid;
  }
  p::first-letter {
    font-size: 1.52em;
    text-transform: capitalize;
  }
}
