@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Gloria+Hallelujah&family=Kalam:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Dancing+Script:wght@500&family=Gloria+Hallelujah&family=Kalam:wght@300&family=Open+Sans:wght@300&display=swap');

//color
$ligthbrown: rgb(152, 108, 67);
$darkgreen: rgb(54, 64, 55);
$with: rgb(233, 233, 233);
$withsmoke: rgb(156, 156, 156);
$smoky: rgba(77, 77, 77, 0.493);
$ligthgray: rgb(221, 221, 221);

//fontStyle
@mixin fontStyle($fontSize) {
  font-family: "Kalam", cursive;
  font-size: $fontSize;
  text-transform: capitalize;
}

@mixin fontStyleForParagraph($fontSize) {
  font-family: 'Barlow Condensed', sans-serif;;
  font-size: $fontSize;
}

//transition
$transition-duration: 0.5s;

//button
%buttonStyle {
  border: none;
  background-color: $ligthbrown;
  color: $with;
  border-radius: 10px;
  height: 2.5em;
  width:7.5em;
  font-family: "Kalam", cursive;
  font-size: 1.1em;
  padding: 0.3em;
  cursor: pointer;
  transition-duration: $transition-duration;
  font-weight: 800;
  margin: 5px;

  &:hover {
    color: $ligthbrown;
    background-color: $with;
    border: 2px solid $ligthbrown;
  }
}

%buttonWithStyle {
  border: none;
  background-color: $with;
  border: 2px solid $ligthbrown;
  color: $ligthbrown;
  border-radius: 10px;
  height: 2.5em;
  width: 5.5em;
  font-family: "Kalam", cursive;
  font-size: 1.1em;
  cursor: pointer;
  transition-duration: $transition-duration;
  font-weight: 800;
  margin: 5px;

  &:hover {
    color: $with;
    background-color: $ligthbrown;
  }
}
