@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Gloria+Hallelujah&family=Kalam:wght@300&display=swap");

//color
$ligthbrown: rgb(152, 108, 67);
$darkgreen: rgb(54, 64, 55);
$with: rgb(233, 233, 233);
$withsmoke:rgb(156, 156, 156);

//fontStyle
@mixin fontStyle($fontSize) {
  font-family: "Kalam", cursive;
  font-size: $fontSize;
  text-transform: capitalize;
}

//transition
$transition-duration: 0.5s;

//button
@mixin buttonStyle {
  border: none;
  background-color: $ligthbrown;
  color: $with;
  border-radius: 10px;
  height: 2.5em;
  width: 5.5em;
  font-family: "Kalam", cursive;
  font-size: 1.3em;
  cursor: pointer;
  transition-duration: $transition-duration;
  font-weight: 700;
}

