

.header {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  padding: 1em;
}

.header-links {
  display: flex;
}

.header-links ul {
  display: flex;
  list-style: none;
}

.header-links li {
  margin: 10px;
}

.header-links__link{
  color: aliceblue;
}

.header-links button{
  border: none;
  background:none;
  color: aliceblue;
  border: 1px solid aliceblue;
  /* padding: 0 2em; */
  border-radius: 10px;
  height: 3em;
  width:6.5em;
}

.logo h2{
  color: aliceblue;
}