@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');



.Card{
   width:300px;
    padding: 1em;
    border-radius: 1em;
    margin: 15px;
}


.parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}
