* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-width: 0px;
}

*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline-width: 0px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: block;
    letter-spacing: 1px;
}

body {
  width: 120%;
  height: 100vh;
  background-color: aqua;
  font-size: 1.5em;
  overflow-x: hidden;
}

.row {
  max-width: 1220px;
  margin: 0 auto;
}
